  body {
  margin: 0;
  padding: 0;
  }

  h2, p {
  margin: 10px;
  }

  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
  }

  ul li {
  float: left;
  border-right:1px solid #ca0d0d;
  }

  ul li:last-child {
  border-right: none;
  }

  ul li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }

  ul li a:hover:not(.active) {
  background-color: #111111;
  }

  ul li a.active {
  background-color: #6a05a5;
  }